{% extends 'base.html' %} {% block content %}
/admin/restaurant/recipe/2/change/
 
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class="text-muted">{{ recipe.author }} | {{ recipe.created_on }}</p>
        <div class = "content-image">
            <img src = "{{ recipe.cover.url }}"/>
        </div>
        <a href= "{{ recipe.pk }}" class="btn btn-primary">Read More</a>
        <p class="card-text ">{{ object.content | safe }}</p>
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div>

{% endblock content %}